<div  class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"  >
    <a style="color:black"   >         
             <div style="text-align:center"  class="post-preview"  ng-repeat="index in myIndex">
             
                     <!-- <a ng-href="#" >   -->
                 <h3> ==>>{{index.name}}</h3>
     <h2 style="text-align:center">Match 1</h2>


     <h4>{{index['matches'][0]['team1']['name']}} vs {{index['matches'][0]['team2']['name']}}</h4>
     <h4>  Date:&#8192{{index['matches'][0]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][0]['team1']['name']}}:{{index['matches'][0]['score1']}} &#8192 &#8192{{index['matches'][0]['team2']['name']}}:{{index['matches'][0]['score2']}}</h4>
     
     <br></br>
     <h2 style="text-align:center">Match 2</h2>
 
     <h4>{{index['matches'][1]['team1']['name']}} vs {{index['matches'][1]['team2']['name']}}</h4>
     <h4>     Date:&#8192{{index['matches'][1]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][1]['team1']['name']}}:{{index['matches'][1]['score1']}}&#8192{{index['matches'][1]['team2']['name']}}:{{index['matches'][1]['score2']}}</h4>
     

     <br></br>
     <h2 style="text-align:center">Match 3</h2>
 
     
     <h4>{{index['matches'][2]['team1']['name']}} vs {{index['matches'][2]['team2']['name']}}    </h4>
     <h4>     Date:&#8192{{index['matches'][2]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][2]['team1']['name']}}:{{index['matches'][2]['score1']}} &#8192{{index['matches'][2]['team2']['name']}}:{{index['matches'][2]['score2']}}</h4>
     

     <br></br>
     <h2 style="text-align:center">Match 4</h2>
 
     <h4>{{index['matches'][3]['team1']['name']}} vs {{index['matches'][3]['team2']['name']}}    </h4>
     <h4>     Date:&#8192{{index['matches'][3]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][3]['team1']['name']}}:{{index['matches'][3]['score1']}} &#8192 {{index['matches'][3]['team2']['name']}}:{{index['matches'][3]['score2']}}</h4>
     

     <br></br>
     <h2 style="text-align:center">Match 5</h2>
     
     <h4>{{index['matches'][4]['team1']['name']}} vs {{index['matches'][4]['team2']['name']}}    </h4>
 
     <h4>     Date:&#8192{{index['matches'][4]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][4]['team1']['name']}}:{{index['matches'][4]['score1']}} &#8192 {{index['matches'][4]['team2']['name']}}:{{index['matches'][4]['score2']}}</h4>
     <br></br>
     <h2 style="text-align:center">Match 6</h2>
     
     <h4>{{index['matches'][5]['team1']['name']}} vs {{index['matches'][5]['team2']['name']}}    </h4>
     <h4>     Date:&#8192{{index['matches'][5]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][5]['team1']['name']}}:{{index['matches'][5]['score1']}}&#8192 {{index['matches'][5]['team2']['name']}}:{{index['matches'][5]['score2']}}</h4>
     <br></br>
     <h2 style="text-align:center">Match 7</h2>
     <h4>{{index['matches'][6]['team1']['name']}} vs {{index['matches'][6]['team2']['name']}}    </h4>
     <h4> Score by both the teams:</h4>
     <h4>Date:&#8192{{index['matches'][6]['date'] | date:'medium'}}</h4>

     <h4>{{index['matches'][6]['team1']['name']}}:{{index['matches'][6]['score1']}}&#8192{{index['matches'][6]['team2']['name']}}:{{index['matches'][6]['score2']}}</h4>
         
         <br></br>
         <h2 style="text-align:center">Match 8</h2>
         
     <h4>{{index['matches'][7]['team1']['name']}} vs {{index['matches'][7]['team2']['name']}}    </h4>
     <h4>     Date:&#8192{{index['matches'][7]['date'] | date:'medium'}}</h4>
 
     <h4>{{index['matches'][7]['team1']['name']}}:{{index['matches'][7]['score1']}}&#8192{{index['matches'][7]['team2']['name']}}:{{index['matches'][7]['score2']}}</h4>
     <h4> Score by both the teams:</h4>
     <h2 style="text-align:center">Match 9</h2>
     <br></br>
     
     <h4>{{index['matches'][8]['team1']['name']}} vs {{index['matches'][8]['team2']['name']}}    </h4>
     
     <h4>     Date:&#8192{{index['matches'][8]['date'] | date:'medium'}}</h4>
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][8]['team1']['name']}}:{{index['matches'][8]['score1']}}&#8192{{index['matches'][8]['team2']['name']}}:{{index['matches'][8]['score2']}}</h4>
     <br></br>
     <h2 style="text-align:center">Match 10</h2>
     
     <h4>{{index['matches'][9]['team1']['name']}} vs {{index['matches'][9]['team2']['name']}}    </h4>
     <h4>     Date:&#8192{{index['matches'][9]['date'] | date:'medium'}}</h4>
 
     <h4> Score by both the teams:</h4>
     <h4>{{index['matches'][9]['team1']['name']}}:{{index['matches'][9]['score1']}}&#8192{{index['matches'][9]['team2']['name']}}:{{index['matches'][9]['score2']}}</h4>
     <br></br>   
 
 </div>